.footer__journal {
  display: flex;
  width: 182px;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  padding: 0;
}

@media screen and (max-width: 756px) {
  .footer__journal {
    margin: 50px 0 0 0;
  }
}

@media screen and (max-width: 470px) {
  .footer__journal {
    margin: 43px 0 0;
    width: 142px;
  }
}