.popup__contact-checkbox {
  appearance: none;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #262626;
  border-radius: 6px;
}

.popup__contact-checkbox:hover {
  background-color: #E0E0E0;
}

.popup__contact-checkbox:checked {
  background-color: #262626;
  background-image: url(../../../images/radio-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}