.contacts__btn_type_tg {
  background-image: url(../../../../images/TG.png);
  border: none;
  background-repeat: no-repeat;
}
.contacts__link:hover > .contacts__btn_type_tg {
  background-image: url(../../../../images/TG_h.svg);
}
.contacts__link:active > .contacts__btn_type_tg {
  background-image: url(../../../../images/TG_p.svg);
}

@media screen and (max-width: 756px) {
  .contacts__btn_type_tg {
    background-size: 76px 57px;
  }
}