.content__contacts{
  margin: var(--margin_XL) auto 0;
}

@media screen and (max-width: 1024px) {
  .content__contacts{
    margin: 145px auto 0;
  }
}

@media screen and (max-width: 470px) {
  .content__contacts {
    margin: 75px auto 0;
  }
}