.content__videos {
  margin: var(--margin_XL) auto 0;
}

@media screen and (max-width: 1024px) {
  .content__videos {
    margin: 145px auto 0;
  }
}

@media screen and (max-width: 425px) {
  .content__videos {
    margin: 75px auto 0;
  }
}